.jumbotron {
    background-image: url("../images/cabecera2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#logo {
    margin-left: 20%;
    width: 40%;
    height: 40%;
}

.footer {
	background-color: grey;
}