/*----------------ELEMENTOS ESTATICOS DE LA WEB---------------------*/
.jumbotron {
    background-image: url("../images/cabecera2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#logo {
    margin-left: 20%;
    width: 40%;
    height: 40%;
}
/*-------------------------------------------------------------------*/


/*--------------------------------INDEX------------------------------*/
/*-------------------------------------------------------------------*/


/*----------------------LOCALIZACION Y CONTACTO----------------------*/
#maps {
	width: 100%;
	height: 300px;
}

#tituloLoc {
	text-align: center;
}

.iconos{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}

.iconostlf{
	width: 15%;
	margin-left: 40%;
	margin-right: 40%;
}

.textContacto{
	text-align: center;
}
/*-------------------------------------------------------------------*/


/*----------------------PREGUNTAS Y PRESUPUESTOS---------------------*/
/*-------------------------------------------------------------------*/


/*------------------------------FOOTER-------------------------------*/
.footer {
	background-color: grey;
}
/*-------------------------------------------------------------------*/

