/*----------------ELEMENTOS ESTATICOS DE LA WEB---------------------*/
.jumbotron {
    background-image: url("../images/cabecera2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#logo {
    margin-left: 20%;
    width: 40%;
    height: 40%;
}
/*
body {
	background-image: url("../images/fondo1.jpg");
	color: black;
}

#formulario {
	background-color: white;
	padding: 2%;
}
*/
nav.navbar {
}
/*-------------------------------------------------------------------*/

/*--------------------------------LOGIN------------------------------*/

/*-------------------------------------------------------------------*/


/*--------------------------------INDEX------------------------------*/
#contenido {
	border: 1px solid;
}
/*-------------------------------------------------------------------*/


/*----------------------LOCALIZACION Y CONTACTO----------------------*/
#maps {
	width: 100%;
	height: 300px;
}

#tituloLoc {
	text-align: center;
}

.iconos{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}

.iconostlf{
	width: 15%;
	margin-left: 40%;
	margin-right: 40%;
}

.textContacto{
	text-align: center;
}
/*-------------------------------------------------------------------*/

/*-------------------------SOLICITUD DE CITAS------------------------*/
#fotoSolicitudCitas {
	width: 70%;
	margin-left: 15%;
}

#botonesForm1 {
	float: left;
}
/*-------------------------------------------------------------------*/

/*----------------------PREGUNTAS Y PRESUPUESTOS---------------------*/
#fotoPresupuesto {
	width: 100%;
	height: 100%;
}

.asterisco{
	color: red;
}

#botonesForm {
	float: right;
}

.btnAltaUsu {
	width: 100%;
}

#tituloCuestion {
	border-bottom: 1px solid black;
}
/*-------------------------------------------------------------------*/

/*------------------------------ADMIN--------------------------------*/
/*--NUEVO USUARIO--*/
#frmNuevoUsuario h2{
	text-align: center;
}

/*-------------------------------------------------------------------*/

/*------------------------------FOOTER-------------------------------*/
#pie {
	background-color: lightgray;
}

#columnasPie {
	padding-top: 1.5em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	padding-bottom: 1.5em;
}

#divTw {
	background-image: url("../images/iconos/tw1.png");
	background-repeat: no-repeat;	
	background-size: 90% 90%;
	border-radius: 12px;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

#divTw:hover {
	background-image: url("../images/iconos/tw2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;	
}

#copy {
	background-color: grey;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 100%;
}
/*-------------------------------------------------------------------*/