<div id="frmConfigurarCuentasMostrar">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <h2 id="tituloLoc">Administrar cuentas</h2>
            <br>
            <br>
            <br>
            <form id="frmCambiarTwitter" name="frmCambiarTwitter" method="post" action="../Model/cuentas.php">
                <input type="hidden" id="txtPlataforma" name="txtPlataforma" value="twitter">
                <div class="form-inline col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="txtEnlaceTwitter" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Twitter
                        <span class="asterisco">*</span>
                    </label>
                    <span class=" col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <input  style="width: 100%" type="text" class="form-control" name="txtEnlaceTwitter" id="txtEnlaceTwitter"
                            placeholder="Enlace" required>
                    </span>
                    <span class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <button type="submit" id="btnCambiarEnlaceTwitter" name="btnCambiarEnlaceTwitter" class="btn btn-primary">Guardar Cambio</button>
                    </span>
                </div>
            </form>

            <br>
            <br>
            <br>

            <form id="frmCambiarCalendar" name="frmCambiarCalendar" method="post" action="../Model/modificarCuentas.php">
                <input type="hidden" id="txtPlataforma" name="txtPlataforma" value="calendar">                
		        <input type="hidden" name="txtEmailUsuario" id="txtEmailUsuarioSession" value="<?php echo $emailUser; ?>">
                <input type="hidden" name="txtPasswordUsuario" id="txtPasswordUsuarioSession" value="<?php echo $passUser; ?>">
                <div class="form-inline col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="txtEnlaceCalendar" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">Google Calendar
                        <span class="asterisco">*</span>
                    </label>
                    <span class=" col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <input  style="width: 100%" type="text" class="form-control" name="txtEnlaceCalendar" id="txtEnlaceCalendar"
                            placeholder="Enlace" required>
                    </span>
                    <span class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <button type="submit" id="btnCambiarEnlaceCalendar" name="btnCambiarEnlaceCalendar" class="btn btn-primary">Guardar Cambio</button>
                    </span>
                </div>
            </form>

            <br>
            <br>
            <br>
        </div>
    </div>
</div>