<div id="frmIndexAdminMostrar">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>¡Bienvenido Admin!</h2>
            <br>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p>Citas de hoy usuarios:</p>
                <div id="listadoCitasHoy"></div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p>Citas de hoy no usuarios:</p>
                <div id="listadoCitasHoyNoUser"></div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <form id="frmFiltroFechas" name="frmFiltroFechas">
                    <div class="form-inline">
                        <input type="text" class="form-control" name="txtFechaFiltrar" id="txtFechaFiltrar" placeholder="dd/mm/aaaa" required>
                        <button type="button" id="btnFiltrarFecha" name="btnFiltrarFecha" class="btn btn-primary">Filtrar Fecha</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>