<div id="frmListadoUsuariosMostrar">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 id="tituloLoc">Lista de usuarios</h2>
            <br>
            <form id="frmFiltroEmailUsuario" name="frmFiltroEmailUsuario" style="float: right;">
                <div class="form-inline">
                    <label>Email: </label>
                    <input type="text" class="form-control" name="txtEmailFiltrarUsuario" id="txtEmailFiltrar" placeholder="example@example.com" required>
                    <label> &nbsp Estado: </label>
                    <input type="radio" id="radioActivo1" name="radioEstadoUsuario" value="ambos" checked>Cualquiera
                    <input type="radio" id="radioActivo" name="radioEstadoUsuario" value="activo">Activo
                    <input type="radio" id="radioActivo2" name="radioEstadoUsuario" value="baja">De Baja &nbsp &nbsp &nbsp
                    <button type="button" id="btnFiltrarEmailUsuario" name="btnFiltrarEmailUsuario" class="btn btn-primary">Filtrar Usuario</button>
                </div>                    
            </form>
            <br>
            <br>
        </div>
    </div>
</div>