<div id="frmListadoCitasFisicasMostrar">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 id="tituloLoc">Listado de citas físicas</h2>
            <br>
            <form id="frmFiltroEmailNoUser" name="frmFiltroEmailNoUser" style="float: right;">
                <div class="form-inline">
                    <label>Email: </label>
                    <input type="text" class="form-control" name="txtEmailFiltrarNoUser" id="txtEmailFiltrarNoUser" placeholder="example@example.com" required>
                    <button type="button" id="btnFiltrarEmailNoUser" name="btnFiltrarEmail" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>
</div>