<div id="frmPreguntasMostrar">
    <div class="row">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <br>
            <br>
            <img src="../View/images/presupuesto.jpg" id="fotoPresupuesto" alt="presupuesto">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h2 id="tituloCuestion">Contacte con nosotros</h2>
            <p>Puedes utilizar este formulario para pedir un presupuesto o formularnos una simple cuestión que usted tenga y
                nosotros nos pondremos en contacto lo antes posible.</p>
            <br>
            <form id="frmPresupuesto" name="frmPresupuesto" >
                <div class="form-group">
                    <label for="txtTitulo">Título
                        <span class="asterisco">*</span>
                    </label>
                    <input type="text" class="form-control" name="txtTitulo" id="txtTitulo" placeholder="Asunto" required>
                </div>
                <div class="form-group">
                    <label for="txtEmail">Correo electrónico
                        <span class="asterisco">*</span>
                    </label>
                    <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="example@example.com" required>
                </div>
                <div class="form-group">
                    <label for="txtTelefono">Télefono de contacto
                        <span class="asterisco">*</span>
                    </label>
                    <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" placeholder="Teléfono" required>
                </div>
                <div class="form-group">
                    <label for="txtDescripcion">Mensaje
                        <span class="asterisco">*</span>
                    </label>
                    <textarea class="form-control" rows="5" id="txtDescripcion" name="txtDescripcion" placeholder="Introduzca su cuestión" required></textarea>
                </div>
                <div id="botonesForm">
                    <button type="button" id="btnEnviarPregunta" name="btnEnviarPregunta" class="btn btn-primary">Enviar</button>
                    <button type="reset" class="btn btn-danger">Limpiar Campos</button>
                </div>
            </form>
        </div>
    </div>
</div>