<div id="frmSolicituesPendientesMostrar">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=400&amp;wkst=2&amp;hl=es&amp;bgcolor=%23ffffff&amp;src=carquintotaller%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FMadrid"
                style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
            <br>
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-ms-12 col-lg-12">
            <h2 id="tituloLoc">Solicitudes pendientes</h2>
                <br>
                <br>
            <div id="listadoCitasPendientes"></div>
        </div>
    </div>
</div>